<br>
  <div class="jumbotron jumbotron-fluid animated fadeIn ">
      <div class="container">
        <h2 class="display-4">Página de Héroes, Cómics App y Utilización de API de Países</h2>
        <p class="lead">El cómic es una serie de dibujos que constituyen un relato, con o sin texto, partiendo de la concepción de Will Eisner de esta narrativa gráfica como un arte secuencial, ilustraciones yuxtapuestas y otras imágenes secuenciales con el propósito de transmitir una historieta estética al lector. Desde Webcomics.com os proporcionamos el acceso a los comics colgados en la red, en ningún momento asumimos su propiedad o autoría.</p>
        <p> <img src="assets/img/home-img.png" class="img-fluid" alt="heroe.nombre"></p>
      </div>

  </div>